.blackText {
    -fx-text-fill: White;
}
.background {
    -fx-background-color: #181818;
}

.back {
    -fx-image: url(darkImages/left-arrow-removebg-preview.png);
}

.settings {
    -fx-image: url(darkImages/settings.png)
}

.sidebar {
    -fx-background-color: #212121;
}

.sideButton:hover {
    -fx-border-width: 0px 4px 0px 0px;
    -fx-border-color: #069bff;
}

.textField {
    -fx-background-color: #121212;
    -fx-border-color: #069bff;
    -fx-text-fill:#FFFFFF
}

.sideBorder {
    -fx-background-color: #202020;
}

.user {
    -fx-image: url(darkImages/user-male-modified.png);
}

.femaleUser {
    -fx-image: url(darkImages/female-dark.png);
}

.list {
    -fx-background-color: #121212;
}

.comboBox {
    -jfx-focus-color: #069bff;
    -jfx-unfocus-color: White;
    -fx-background-color:#121212;
}

.jfx-combo-box {
    -fx-prompt-text-fill: white;
    -fx-prompt-background-color: #121212;
}


.slider .axis { -fx-tick-label-fill: white; }


.date-picker .arrow-button {
	-fx-background-color: #0F4C75;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: #069bff;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: #202020;
    -fx-text-fill: white;
}
.date-picker .cell:hover {
	-fx-text-fill: #069bff;
}

.date-picker .selected {
	-fx-background-color: #0F4C75;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: linear-gradient(to bottom, #1B262C, #0F4C75);
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: #0F4C75;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

.date-picker .text-field {
    -fx-control-inner-background: #121212 ;
}



#logout {
    -fx-image: url(darkImages/logout__1_-removebg-preview.png);
}

#moon {
    -fx-image: url(darkImages/moon.png);
}

.jfx-button{
    -jfx-disable-visual-focus: true;
}

.table-view .table-cell{
    -fx-border-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #222222;
    -fx-text-background-color: white;
}
.table-row-cell:even{
    -fx-background-color: #202020;
    -fx-text-background-color: white;
}

.table-row-cell:selected {
    -fx-text-background-color:#069bff;
}

.table-row-cell:hover {
    -fx-text-background-color:#BBE1FA;
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1B262C, #0F4C75);
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color:white;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow, 
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #1B262C, #0F4C75);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1B262C, #0F4C75);
}

.jfx-combo-box .list-cell:even{
    -fx-background-color: #181818;
    -fx-text-fill: white;

}

.jfx-combo-box .list-cell:odd{
    -fx-background-color: #222222;
    -fx-text-fill: white;

}

.jfx-combo-box .list-cell:hover{ 
    -fx-text-fill: #069bff;
}

.jfx-combo-box .arrow {
    -fx-background-color: #3282B8
}   

