.sideButton:hover {
    -fx-border-width: 0px 4px 0px 0px;
    -fx-border-color: #0F4C75;
}

.sidebar {
    -fx-background-color: #3282B8;
}

.textField {
    -fx-background-color: #FFFFFF;
    -fx-border-color:#00A5F5;
}


.sideBorder {
    -fx-background-color: #0F4C75;
}
.salary>.thumb {
    -fx-background-color: #0F4C75;
}
.salary>.animated-thumb {
    -fx-background-color: #0F4C75
}
.salary>.colored-track {
    -fx-background-color: #3282b8;
}
.salary>.track {
    -fx-prefHeight: 7px;
    -fx-background-color: linear-gradient(to left, red, orange, yellow, green);
}

.date .text-field {
    -fx-control-inner-background: white;
}

.date .selected {
	-fx-background-color:#069bff;
	-fx-text-fill: white;
}

#logout {
    -fx-image: url(../res/logout.png)
}

#moon {
    -fx-image: url(../res/sun.png)
}

.back {
    -fx-image: url("../res/left-arrow.png");
}

.jfx-button{
    -jfx-disable-visual-focus: true;
}